<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlas Creative</title>
   
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

<body>    
  <header>
    <div class="header">
      <a href="{{ url_for('home') }}" class="img-logo">
        <img src="static/images/logo.png" href="{{ url_for('home') }}"alt="logo" class="img-logo">
      </a>
      <div class="header-right">
        <a href="{{ url_for('about') }}" class="nav-item active">ABOUT</a>
        <a href="{{ url_for('projects') }}" class="nav-item">PROJECTS</a>
        <a href="{{ url_for('contact') }}" class="nav-item">CONTACT</a>
      </div>
    </div>
  </header>


  <div class="row">
    <div class="column-about left">
      <h2 class="h2-about">Hi, I'm Marina</h2>
      <h1 class="h1-about">Web Designer & Developer 
        <br>Creative / UI UX
      </h1>
      <p class="p-about">I’m an approachable problem solver who values honesty
        <br>and clarity. I’m friendly, and all about a collaborative process.
        <br>I see the whole branding picture, and view a website as one
        <br>integral part of an overall brand strategy. Brainstorming is my
        <br>jam, and I love it almost as much as chatting.</p>
    </div>
    <div class="column-about right">
      <img src="static/images/about.png" alt="about" class="about-img">
    </div>
  </div>

<div class="resume-container">
  <h2 class="h2-light"><Ri:a>Have a look at my resume!</Ri:a></h2>
  <hr class="hr-about">

  <div class="row resume">
    <div class="column-resume left">
      <h2 class="h2-light-resume-left">Experience</h2>
    </div>
    <div class="column-resume right">
      <h2 class="h2-light-resume-right">BoxOut Studio</h2>
      <h3 class="h3-light-resume">Creative Designer</h3>
      <p class="p-light-resume">Responsible for creatives like social media posts, print media designs, and UI UX for websites and Applications. Worked on different kinds of projects which include international clients like KIWISENS, Innovosens, etc.</p>
      
      <hr class="hr-resume">

      <h2 class="h2-light-resume-right">Biscuit Company</h2>
      <h3 class="h3-light-resume">Junior UI UX Designer</h3>
      <p class="p-light-resume">Designed and signed off 35+ websites for a huge variety of industries. Was promoted to project manager after a year and led web projects through from initial onboarding to final site launches along with gaining the ability to manage multiple projects across various user journey stages.</p>

      <hr class="hr-resume">

      <h2 class="h2-light-resume-right">Various agencies</h2>
      <h3 class="h3-light-resume">Freelance Developer and Designer</h3>
      <p class="p-light-resume">Worked on various freelance design projects for a range of clients mainly focussed on SMEs. Developed branding, design collateral, websites and UX material for clients and developed presentation and management skills.</p>

      <hr class="hr-resume">

      <h2 class="h2-light-resume-right">Travel2</h2>
      <h3 class="h3-light-resume">Digital marketing Executive</h3>
      <p class="p-light-resume">Work is focused on both design and development for bespoke solutions for clients from a variety of sectors including broadcast, medical and audio, creating cross functional solutions and designing both software and hardware.</p>

    
    </div>
  </div>

</div>

<footer>
  <div class="footer">
  <div class="row">
    <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/atlas_creativestudio/"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  Copyright © 2022 Atlas Creative Studio - All rights reserved 
  </div>
  </div>
  </footer>
</body>

</html>