<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlas Creative</title>
   
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

<body>    
  <header>
    <div class="header">
      <a href="{{ url_for('home') }}" class="img-logo">
        <img src="static/images/logo.png" href="{{ url_for('home') }}"alt="logo" class="img-logo">
      </a>
      <div class="header-right">
        <a href="{{ url_for('about') }}" class="nav-item active">ABOUT</a>
        <a href="{{ url_for('projects') }}" class="nav-item">PROJECTS</a>
        <a href="{{ url_for('contact') }}" class="nav-item">CONTACT</a>
      </div>
    </div>
  </header>
</body>




</html>