<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlas Creative</title>
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>    
	<header>
    <div class="header">
      <a href="{{ url_for('home') }}" class="img-logo">
        <img src="static/images/logo.png" href="{{ url_for('home') }}"alt="logo" class="img-logo">
      </a>
      <div class="header-right">
        <a href="{{ url_for('about') }}" class="nav-item">ABOUT</a>
        <a href="{{ url_for('projects') }}" class="nav-item">PROJECTS</a>
        <a href="{{ url_for('contact') }}" class="nav-item">CONTACT</a>
        
      </div>
    </div>
  </header>

      <!-- Home header -->
  <div class="hero-image">
    <div class="hero-text">
      <h1>Hi there,
        <br>let's work together!
      </h1>
      <a href="{{ url_for('about') }}" target="_parent"><button class="home-button">What is Atlas Creative?</button></a>
    </div>
  </div>

   <!-- Colums with information -->

  <div class="row info-box">
    <div class="col-img">
    </div>
    <div class="col-img-right">
      <img src="static/images/home-1.png" alt="graphic" class="home-small-img">
    </div> 
</div>

<div class="row-home-info">

    <div class="column left">
      <img src="static/images/atlas_info.png" alt="atlas logo" class="atlas-image">
      <h1 class="h1-info-box">best 
        <br>creative
        <br>& modern 
        <br>designs
      </h1>
    </div>


    <div class="column right">
      <h3 class="h3-info-box">We are a digital creative studio driven by curiosity, concepts and craft. Turning ideas into real life products is our calling. </h3>
      <br>
      <p class="p-info-box">With a background in design, I work closely with design focused teams to build websites and microsites for companies and individuals. I have years of experience working and collaborating on product teams and leading engineering efforts. </p>
      <p class="p-info-box">With my experience in UI and Creaitve design, I solve product problems and build appealing usable user experiences.</p>
      

      <div class="row info-box">
        <div class="col">
        </div>
        <div class="col">
          <h2 class="h2-numbers">+4</h2>
          <p class="p-numbers">Years of Experience</p>
        </div>
        <div class="col">
          <h2 class="h2-numbers">+15</h2>
          <p class="p-numbers">Completed Projects</p>
        </div> 
        <div class="col">
          <h2 class="h2-numbers">+5</h2>
          <p class="p-numbers">Happy clients</p>
        </div> 
        <div class="col">
        </div> 
      </div>
    </div>
</div>



<!-- Slider testimonials-->
  
<h3 class="h3-testimonial-title">What others say about Atlast Creative</h3>

<div class="slideshow-container">

  <div class="testimonial-container" id="testimonial-container"></div>
  
  <button id="prev">&lt;</button>
  <button id="next">&gt;</button>
  
</div>
  
<!-- Javascript that stores the data and also makes the slider work-->

<script>
  
//Testimonial Data
  const testimonials = [
    {
      name: "Fred Smith",
      job: "Everyone's Edinburgh",
      testimonial:
        "Marina helped us throughout the entire endeavour, going above and beyond what we expected to do. Her ability to recognise and convey our important points in a fresh and inventive way gave us a great deal of trust in her.",
    },
    {
      name: "Katy Tulsa",
      job: "Net Zero Edinburgh",
      testimonial:
        "My request for assistance with problems with a Wordpress website was promptly answered by Marina, who was very helpful. She was well-versed in everything!",
    },
    {
      name: "Robin Johnson",
      job: "Queen Bee",
      testimonial:
        "One of the best programmers out there without a doubt. When I'm lost, I always turn to Marina, and she never fails to provide what I need. smart, reliable, and competent. I can’t recommend her highly enough.",
    },
    {
      name: "Nicola Blake",
      job: "Home Grown",
      testimonial:
        "Always willing to assist, extremely talented, consistently meets deadlines, diligent, and reliable. According to my experience, no project is too difficult, and with Marina is great at simplifying highly complex sector.",
    },
  ];
  

  let i = 0;

  let j = testimonials.length;
  
  let testimonialContainer = document.getElementById("testimonial-container");
  let nextBtn = document.getElementById("next");
  let prevBtn = document.getElementById("prev");
  
  nextBtn.addEventListener("click", () => {
    i = (j + i + 1) % j;
    displayTestimonial();
  });
  prevBtn.addEventListener("click", () => {
    i = (j + i - 1) % j;
    displayTestimonial();
  });
  
  let displayTestimonial = () => {
    testimonialContainer.innerHTML = `
      <p>${testimonials[i].testimonial}</p>
      <h4>${testimonials[i].name}</h4>
      <h6>${testimonials[i].job}</h6>
    `;
  };
  window.onload = displayTestimonial;

  
</script>

<footer>
  <div class="footer">
  <div class="row">
  <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/atlas_creativestudio/"><i class="fa fa-instagram"></i></a>
  <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  Copyright © 2022 Atlas Creative Studio - All rights reserved 
  </div>
  </div>
  </footer>

</body>
</html>